@define-color bg #17181a;
@define-color fg #ede9df;
@define-color gray1 #cab86d;
@define-color gray2 #888a8f;
@define-color gray3 #929dc3;
@define-color gray4 #bfaf78;
@define-color gray5 #a7afbe;
@define-color fg_bright #ede9df;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}